<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    ansi                        = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false"
    syntaxCheck                 = "false"
    bootstrap                   = "bootstrap.php">

    <testsuites>
        <testsuite name="Arachnid Test Suite">
            <file>src/LRezek/Arachnid/Tests/QueryTest.php</file>
            <file>src/LRezek/Arachnid/Tests/ArachnidTest.php</file>
            <file>src/LRezek/Arachnid/Tests/ReflectionTest.php</file>
            <file>src/LRezek/Arachnid/Tests/MetaTest.php</file>
            <file>src/LRezek/Arachnid/Tests/RepositoryTest.php</file>
        </testsuite>
    </testsuites>

    
    <php>
        <var name="host" value="localhost"/>
        <var name="port" value="7474"/>
    </php>
    

    <filter>

        <whitelist>
            <directory>src/LRezek/Arachnid/Annotation</directory>
            <directory>src/LRezek/Arachnid/Meta</directory>
            <directory>src/LRezek/Arachnid/Proxy</directory>
            <directory>src/LRezek/Arachnid/Query</directory>
            <file>src/LRezek/Arachnid/Configuration.php</file>
            <file>src/LRezek/Arachnid/Arachnid.php</file>
            <file>src/LRezek/Arachnid/Exception.php</file>
            <file>src/LRezek/Arachnid/Repository.php</file>
        </whitelist>

    </filter>

</phpunit>
